html, body {
  margin: 0px;
  padding: 0px;
  background-color: #CEECF5;

}

.ui.transparent.menu {
  opacity: 0.8;
}

.dark.grid {
  color: #FFFFFF;
  background-image: url('../images/dark-bg.png');
  box-shadow:0px 10px 10px rgba(20%,20%,40%,0.5);
}

