
html 
	head
		title #{title}
		link(rel='stylesheet', href='style.css')
	body
		h1 #{title}
		p Enter the IP and NAME for 
		form(action='/addIpMaping',method='post')
			div
				label IP
				input(type='text',name='IP')
				label Name
				input(type='text',name='name')
				input(type='submit')
