<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Zhenhai Dashboard</title>

  <link rel="stylesheet" type="text/css" href="/assets/sementicUI/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="/assets/custom/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/assets/jQueryUI/jquery-ui.min.css">

  <script src="/assets/sementicUI/javascript/semantic.js"></script>

  <script src="/assets/custom/javascript/chart.js"></script>
  <script src="/assets/custom/javascript/steps.js"></script>
  <script src="/assets/custom/javascript/table.js"></script>

  <script src="/assets/lib/javascript/jquery-2.1.1.js"></script>
  <script src="/assets/lib/javascript/d3.v3.min.js"></script>
  <script src="/assets/jQueryUI/jquery-ui.min.js"></script>
  <script src="/assets/jQueryUI/datepicker-zh-TW.js"></script>

  <style>
.barChart rect {
  fill: steelblue;
}

.barChart text {
  fill: black;
  font: 16px sans-serif;
  text-anchor: middle;
}

.barChart rect:hover {
  fill: brown;
}

.slice path:hover {
  fill: brown;
}

  </style>

</head>
<body>
  <div class="ui fixed transparent inverted main menu">
    <div class="container">
      <a href="/" class="item"><div class="ui header">Zhenhai Dashboard</div></a>
      <div class="right menu">
        <div class="item">Total Review</div>
      </div>
    </div>
  </div>
  <div class="center aligned one column ui grid" style="padding-top:60px; padding-bottom:20px">
    <div class="column">
      <div class="ui six steps">
        <div data-defaultName="Overview" id="step0" class="ui active step">Overview</div>
        <div data-defaultName="Product" id="step1" class="ui step">Product</div>
        <div data-defaultName="Monthly" id="step2" class="ui step">Monthly</div>
        <div data-defaultName="Weekly" id="step3" class="ui step">Weekly</div>
        <div data-defaultName="Date" id="step4" class="ui step">Date</div>
        <div data-defaultName="Machine" id="step5" class="ui step">Machine</div>
      </div>
    </div>
    <div class="column">
      <div class="ui right floated button">Export CSV File</div>
    </div>
  </div>
  <div class="ui one column page grid" style="display: none;" id="notFoundBlock">
    <div class="column">
      <div class="ui icon error message">
        <i class="inbox icon"></i>
        <div class="content">
          <div class="header">查無資料</div>
          <p>無法查詢到相關資料，請確定網址是否正確。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid">

    <div class="four wide column data" style="display: none">
      <div id="datepicker"></div>
      <div class="ui vertical menu" style="width: 104%">
        <div class="header item">機器列表</div>
        <a href="#" class="active item">A001</a>
        <a href="#" class="item">A002</a>
        <a href="#" class="item">B003</a>
        <a href="#" class="item">B004</a>
      </div>
    </div>
    <div class="twelve wide column data" style="display: none">
      <div class="ui center aligned two column grid">
        <div class="column"><svg class="barChart"></svg></div>
        <div class="column"><svg class="pieChart"></svg></div>
      </div>
      <div>
        <table class="ui celled table segment">
          <thead>
            <tr>
              <th>時間</th>
              <th>數量</th>
              <th>錯誤</th>
            </tr>
          </thead>
          <tbody id="table"></tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    $(function() {

      function formatDate(date) {

        function padding(orig) {
          switch (orig.toString().length) {
            case 0: return "00";
            case 1: return "0" + orig;
            default: return orig;
          }
        }

        return date.getFullYear() + "-" + 
               padding(date.getMonth()) + "-" + 
               padding(date.getDate()) + " " +
               padding(date.getHours()) + ":" + 
               padding(date.getMinutes()) + ":" + 
               padding(date.getSeconds());
      }


      function toPieChartData(dataJSON) {
        var data = {};
       
        function addToData(name, value) {
          if (data[name]) {
            data[name] = (+(data[name]) + value)
          } else {
            data[name] = +value
          } 
        } 

        for (var i = 0; i < dataJSON.length; i++) {
          addToData(dataJSON[i].name.error, dataJSON[i].value);
        }

        var pieChartData = [];
        var keys = Object.keys(data)
        for (var i = 0; i < keys.length; i++) {
          pieChartData.push({
            label: keys[i],
            value: data[keys[i]]
          });
        }

        return pieChartData;
      }

      function toBarChartData(dataJSON) {
        var data = {};
       
        function addToData(name, value) {
          if (data[name]) {
            data[name] = (+(data[name]) + value)
          } else {
            data[name] = +value
          } 
        } 

        for (var i = 0; i < dataJSON.length; i++) {
          var hours = formatDate(new Date(dataJSON[i].name.date)).substring(11, 13);
          addToData(hours + ":00", dataJSON[i].value);
        }

        var barChartData = [];
        var keys = Object.keys(data)
        for (var i = 0; i < keys.length; i++) {
          barChartData.push({
            time: keys[i],
            qty: data[keys[i]]
          });
        }

        return barChartData;
      }


      function toTableSchema(dataJSON) {
        return {
          data: dataJSON.dataSet,
          extractors: [
            function (data) { return formatDate(new Date(data.name.date)); },
            function (data) { return data.value; },
            function (data) { return data.name.error; }
          ]
        }
      }

      $.ajax("<%= dataURL %>").done(function(data) {

        if (!data.dataSet || data.dataSet.length == 0) {
          $('#notFoundBlock').show();
          return;
        }

        if (data.steps) { 
          setStepsTitle("step", data.steps) 
        }

        $("#datepicker").datepicker({firstDay: 0});
        $("#datepicker").datepicker("setDate", new Date(<%= fullYear %>, <%= month %>, <%= date %>));

        setTable("#table", toTableSchema(data));

        var drawPieChart = pieChart({
          width: 250,
          height: 250,
          radius: 100,
          extractValue: function(data) { return data.value; },
          extractName: function(data) { return data.label; }
        })

        drawPieChart(".pieChart", toPieChartData(data.dataSet));

        var drawBarChart = barChart({
          totalHeight: 300,
          barWidth: 50,
          barPadding: 20,
          topMargin: 20,
          bottomMargin: 20,
          extractValue: function(data) { return data.qty },
          extractName: function(data) { return data.time }
        })

        drawBarChart(".barChart", toBarChartData(data.dataSet));

        $(".data").show();

      });
    });
  </script>
</body>

</html>
